@using baggageonlinestores.Models;
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style=" margin-top: 50px; margin-bottom: 80px;">
    <h2 style="    margin-bottom: 20px;" class="text-center">Giỏ hàng</h2>
    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Tên sản phẩm</th>
                    <th style="width:10%">Giá</th>
                    <th style="width:8%">Số lượng</th>
                    <th style="width:22%" class="text-center">Thành tiền</th>
                    <th style="width:10%"> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs">
                                    <img src="~/content/images/@item.sAnhbia" alt="Sản phẩm 1" class="img-responsive" width="100">
                                </div>
                                <div class="col-sm-2">

                                </div>
                                <div class="col-sm-8">
                                    <h4 class="nomargin">@item.sTensanpham</h4>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">@item.dDongia đ</td>
                        <td data-th="Quantity">
                            <input class="form-control text-center" value="@item.iSoluong" type="number">
                        </td>
                        <td data-th="Subtotal" class="text-center">$ @item.dThanhtien</td>
                        <td><a href="@Url.Action("single", "Home", new { id = @item.iMasanpham})">Chi tiết sản phẩm</a></td>
                        <td>@Html.ActionLink("Xóa", "Xoagiohang", new { @iMaSp = item.iMasanpham})</td>
                        <td class="actions" data-th="">
                       
                            <button class="btn btn-info btn-sm">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-sm">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>

                <tr>
                    <td>
                        <a href="@Url.Action("shop","Home")" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
                    </td>
                    <td colspan="2" class="hidden-xs"> </td>
                    <td class="hidden-xs text-center">
                        <strong>Tổng tiền : $ @String.Format("{0:0,0}", ViewBag.Tongtien)</strong>
                    </td>
                    <td>
                        <a href="@Url.Action("Dathang","Giohang")" class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></a>
                    </td>
                </tr>

            </tfoot>
        </table>
    </div>
</div>
